.claude
ESTADO_SISTEMA.md
./Backend/.env
./Frontend/.env.local
./Frontend/node_modules/
./Backend/node_modules/
./Frontend/cache/
./Frontend/~/.bun/
./Frontend/.next/
.backend.log
.frontend.log
.backend.pid
.frontend.pid
TEST_REPORT.md